# ========================
# Workspace / build artifacts
# ========================
build/
install/
log/
*.log
*.bag
*.pyc
__pycache__/

# ========================
# ROS 2 & Colcon
# ========================
*.ws
*.workspace
.deps/
_venv/

# ========================
# Editor / OS files
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# ========================
# Python / Pipenv / Poetry
# ========================
*.egg-info/
.eggs/
dist/
pip-wheel-metadata/
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.env
.env.*
venv/
ENV/
env/

# ========================
# Docker
# ========================
*.pem
docker-compose.override.yml
docker-compose.*.yml
**/Dockerfile.*
!Dockerfile
*.tar
*.tar.gz
*.tgz

# ========================
# Misc
# ========================
*.swp
*~

# ========================
# ML Models
# ========================
src/stream2ros/models/coco.names
src/stream2ros/models/yolov3-tiny.cfg
src/stream2ros/models/yolov3-tiny.weights
src/stream2ros/models/yolov3.cfg
src/stream2ros/models/yolov3.weights
